/* CSS Document */

article {
		
	}
.slide-wrapper {
	position: relative;
  	  
/*	background-color: #fff; */
	}
.slide {	
  position: absolute; 
  left: 0;
  top: 0;
  min-width: 100%;
  padding: 30px 0 120px 0; 
  display: none;
  background-color:#fff;
/*  background-image: url(../images/slide_1.jpg);	 */

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  
  color: #333;
  z-index: 1;
/*  margin-top: 20px; */ 
/*  padding-bottom: 90px; */

}
.slide-spacer {
    height: 100%;
	background-color:#fff;
    position: absolute;
	top: 0;
	right: 100%;
	display: block;
	}
	
.slide-end {
    height: 100%;
	background-color:#fff;
    position: absolute;
	top: 0;
	display: block;
	}

.slide:before, .slide:after {
/*	background-color: #fff;  */
	}
/*
.slide-bleed:before {
	content: '';
	background-color:#fff;
	position: absolute;
	top: 0;
	right: 100%;
	height: 100%;
	min-width: 100%;
	display: block;
	}	
*/
.active {
	display: block;	
/*	position: relative; */
	
	}
