/* CSS Document */

article {
		
	}
.slide-wrapper {
	position: relative;
  	  
/*	background-color: #fff; */
	}
.slide {	
  position: absolute; 
  padding: 30px 0 120px 0; 
  display: none;
/*  background-color:#fff; */
/*  background-image: url(../images/slide_1.jpg);	 */

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  
  color: #333;
/*  margin-top: 20px; */ 
/*  padding-bottom: 90px; */

}

.slide:before, .slide:after {
	background-color: #fff;
	}			
	
.active {
	display: block;	
	position: relative;
	
	}
