/* CSS Document */

article {
		
	}
.slide-wrapper {
	position: relative;
  	  
/*	background-color: #fff; */
	}
.slide {	
  position: absolute; 
  padding: 30px 0 120px 0; 
  display: none;
/*  background-color:#fff; */
/*  background-image: url(../images/slide_1.jpg);	 */

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  
  color: #333;
/*  margin-top: 20px; */ 
/*  padding-bottom: 90px; */

}

.slide:before, .slide:after {
	background-color: #fff;
	}			
	
.active {
	display: block;	
	position: relative;
	
	}

/*
 #slider {
	min-height: 75vh;
	width: 1188px;
	margin: 0 auto;
	overflow: hidden;   

//	background-color: #ccc; 
	background-color: rgba(204,204,204, 0.1);
	} 

.active-slide {
	
	background-color: rgba(204,204,204, 0.9); 
	}

.preslide {
	
	background-color: rgba(204,204,204, 0.9); 
}
	 
	 
.slide-container {
   position: relative;	
   margin: 0 auto;
   max-width: 1160px;
}


.slide-text-area { 	
   background: rgba(204,204,204, 0.1); 
	display: inline-block;
	padding: 10px 34px 10px 0px;
	position: absolute;
	left: 40%; 
	top: 150px;
	width: 100%;
	
	
}
.slide-text-area > h2, .slide-text-area > p { 
	color: #fff;
	text-transform: capitalize;
}
.slide-text-area > h2 {
	margin: .1rem 0 0 0;
	} 

.slide-text-area > p {
	margin: .1rem 0 0 0;
	}	
*/
